﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="PayReports.aspx.cs" Inherits="CherlaHealth.PayReports" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html  lang="en">

    <head id="Head1" runat="server">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>Brihaspathi -Biometric Application</title>
<link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon" />

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/biometric.css" rel="stylesheet">
    <link href="assets/css/animate.css" rel="stylesheet">
    <!--external css-->
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
        
    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/style-responsive.css" rel="stylesheet">
  <link href="assets/js/fullcalendar/bootstrap-fullcalendar.css" rel="stylesheet" />
<link href="assets/js/fancybox/jquery.fancybox.css" rel="stylesheet" />
 <link rel="stylesheet" type="text/css" href="assets/js/bootstrap-datepicker/css/datepicker.css" />
    <link rel="stylesheet" type="text/css" href="assets/js/bootstrap-daterangepicker/daterangepicker.css" />



    <link href="assets/css/table-responsive.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

      <style>
    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    padding: 10px 0;
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 3px solid #2fa3e6;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-radius: 0;
}

.borderless td, .borderless th {
    border: none;
}

page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
page[size="A4"] {  
  width: 21cm;
  height: 29.7cm; 
}

}
@media print {
  body, page {
    margin: 0;
    box-shadow: 0;
  }


    .pagebreak {page-break-after: always;}

}
.borderless td, .borderless th {
    border: none;
}
.hritem{margin-top: 0px;margin-bottom: 9px;border: 0; border-top: 1px solid #d6f4ff;}
table {border: none;}
@media print {

.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
  float: left;
}
.col-sm-12 {
  width: 100%;
}
.col-sm-11 {
  width: 91.66666666666666%;
}
.col-sm-10 {
  width: 83.33333333333334%;
}
.col-sm-9 {
  width: 75%;
}
.col-sm-8 {
  width: 66.66666666666666%;
}
.col-sm-7 {
  width: 58.333333333333336%;
}
.col-sm-6 {
  width: 50%;
}
.col-sm-5 {
  width: 41.66666666666667%;
}
.col-sm-4 {
  width: 33.33333333333333%;
 }
 .col-sm-3 {
   width: 25%;
 }
 .col-sm-2 {
   width: 16.666666666666664%;
 }
 .col-sm-1 {
  width: 8.333333333333332%;
 }
 
 #btnPrint{  visibility:hidden}
table {border: none;}
 
 
 .vendorListHeading{
            background: #1a4567 !important; 
            color: white;}
       
		  
  .vendorListHeading th{
           color:white;
          }
		  
 }

 



  .vendorListHeading{
            background: #1a4567 !important; 
            color: white;
          }
		  
  .vendorListHeading th{
           color:white;
          }
		  
.dcprint p{font-size:14px !important}


.bordertab{
border-bottom: 1px solid #cecece;
    border-left: 1px solid #cecece;
    border-top: 1px solid #cecece;
    border-right: 1px solid #cecece;}
		  table h4{ margin-top:0px; margin-bottom:0px}
		  table p {
    margin-top:0px !important;
    margin-bottom:0px !important;
}
</style>
</head>

<body>
    <form id="form1" runat="server">
     <div class="text-center" style="padding-top: 5px">
        <input type="button" id="btnPrint" onclick="window.print();" value="Print Page" class=" text-center btn btn-success" />
        <a href="EmpPayslip.aspx" id="btnPrint" type="button" onclick="goBack()"><strong style="background: #5cb85c;
            padding: 9px 8px; border-radius: 4px; color: #fff;">Go Back</strong></a>
    </div>
    <div class="container" >
        <div class="row mt ">
            <div class="col-lg-12 panel">
          
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="col-md-6 col-sm-6">
                            <%--<img src="logo.png" style="padding-bottom: 8px; height: 90px">--%>
                        </div>
                        <div class="col-md-6 col-sm-6" style="text-align: right">
                            <p>
                                <%--<b>Brihaspathi Technologies Pvt Ltd</b>
                                <br/>
                                #7-1-621/259, V Floor, Sahithi Arcade,
                                <br/>
                                Beside S R Nagar Police Station, S R Nagar
                                <br/>
                                Hyderabad Telangana
                                <br/>
                                India 9885888835--%>
                            <%--   <b> Cherla Health Clinic</b>--%>
                            </p>
                        </div>
                    </div>
                </div>
         <%--       <div class="row">
                    <div class="col-md-12 col-sm-12">
                       
                        <hr>
                    </div>
                </div>--%>
                <div class="row">
                    <div class="col-md-12 col-sm-12">


                        	<table  class="table table-striped bordertab" width="100%">
					<tbody>
						<tr style="height:50px;">
							<td style=" text-align:center;font-size:30px;font-weight:bold;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px" colspan=5>
								<nobr>CHERLA HEALTH (P) LTD</nobr>
							</td>
							 
						</tr>
						<tr style="height:23px;">
							<td style=" text-align:center;font-size:20px;font-weight:bold;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px" colspan=5>
								<nobr>Salary Statement for the Month of <asp:Label ID="month" runat="server" Text=""></asp:Label>,&nbsp;<asp:Label ID="year" runat="server" Text=""></asp:Label></nobr>
							</td>
							 
						</tr>
						<tr style="height:17px;">
							<td style=" font-size:18px;border-left:1px solid;border-top:1px solid;border-bottom:1px solid;border-left-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px" colspan=2>
								<nobr>Employee Name</nobr>
							</td>

                                
							<td style=" text-align:center;font-size:18px;font-weight:bold;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px" colspan=3>
								<nobr><asp:Label ID="lblemployee" runat="server" Text="" ForeColor="Blue" Font-Bold="true"></asp:Label></nobr>
							</td>
							 
						</tr>
						<tr style="height:18px;">
							<td style=" font-size:18px;border-left:1px solid;border-top:1px solid;border-bottom:1px solid;border-left-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px" colspan=2>
								<nobr>Employee Number</nobr>
							</td>
							<td style=" text-align:center;font-size:18px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px">
								<nobr><asp:Label ID="lblempid" runat="server" Text=""></asp:Label></nobr>
							</td>
							<td style=" font-size:18px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px">
								<nobr>Joining Date</nobr>
							</td>
							<td style="font-family:Verdana;text-align:center;font-size:18px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px">
								<nobr><asp:Label ID="lbldoj" runat="server" Text=""></asp:Label></nobr>
							</td>
							 
						</tr>
						<tr style="height:18px;">
							<td style=" font-size:18px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px" colspan=2>
								<nobr>Account Number</nobr>
							</td>
							<td style=" text-align:center;font-size:18px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px">
								<nobr><asp:Label ID="lblacno" runat="server" Text=""></asp:Label></nobr>
							</td>
							<td style=" font-size:18px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px">
								<nobr>Designation</nobr>
							</td>
							<td style=" text-align:center;font-size:18px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px">
								<nobr><asp:Label ID="lbldesignation" runat="server" Text=""></asp:Label></nobr>
							</td>
							 
						</tr>
						<tr style="height:17px;">
							<td style=" font-size:18px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px" colspan=2>
								<nobr>Days Present</nobr>
							</td>
							<td style=" text-align:center;font-size:18px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px">
								<nobr><asp:Label ID="lbldays" runat="server" Text=""></asp:Label></nobr>
							</td>
							<%--<td style=" font-size:11px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px">
								<nobr>Paid Leaves</nobr>
							</td>
							<td style=" text-align:center;font-size:11px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px">
								<nobr>&nbsp;</nobr>
							</td>--%>
                            <td style=" font-size:18px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px">
								<nobr>P.F. No.</nobr>
							</td>
							<td style=" text-align:center;font-size:18px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px">
								<nobr>&nbsp;<asp:Label ID="lblpfno" runat="server" Text="Label"></asp:Label></nobr>
							</td>
							 
						</tr>
                        	<tr style="height:17px;">
							<td style=" font-size:18px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px" colspan=2>
								<nobr>Payble Days</nobr>
							</td>
							<td style=" text-align:center;font-size:18px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px">
								<nobr><asp:Label ID="lblpay" runat="server" Text="0"></asp:Label></nobr>
							</td>
							<%--<td style=" font-size:11px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px">
								<nobr>Paid Leaves</nobr>
							</td>
							<td style=" text-align:center;font-size:11px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px">
								<nobr>&nbsp;</nobr>
							</td>--%>
                            <td style=" font-size:18px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px">
								<nobr>Salary for the month</nobr>
							</td>
							<td style=" text-align:center;font-size:18px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px">
								<nobr><asp:Label ID="month1" runat="server" Text=""></asp:Label>'<asp:Label ID="year1" runat="server" Text=""></asp:Label></nobr>
							</td>
							 
						</tr>
						<%--<tr style="height:17px;">
							<td style=" font-size:11px;border-left:1px solid;border-top:1px solid;border-bottom:1px solid;border-left-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px" colspan=2>
								<nobr>Arrears Days</nobr>
							</td>
							<td style=" text-align:center;font-size:11px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px">
								<nobr>&nbsp;</nobr>
							</td>
							
							 
						</tr>--%>
					<%--	<tr style="height:17px;">
                            <td style=" font-size:18px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px">
								<nobr>Payble Days</nobr>
							</td>
							<td style=" text-align:center;font-size:18px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px">
								<nobr></nobr>
							</td>
							<td style=" font-size:18px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px" colspan=2>
								<nobr>Salary for the month</nobr>
							</td>
							<td style=" text-align:center;font-size:18px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px">
								<nobr></nobr>
							</td>
							
							 
						</tr>--%>
						<tr style="height:17px;">
							<td style=" text-align:center;font-size:18px;font-weight:bold;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px" colspan=3 rowspan=2>
								<nobr>Earnings</nobr>
							</td>
							<td style=" text-align:center;font-size:18px;font-weight:bold;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px" colspan=2 rowspan=2>
								<nobr>Deductions</nobr>
							</td>
							 
						</tr>
						<tr style="height:17px;">
							 
						</tr>
						<tr style="height:20px;">
							<td style=" text-align:center;font-size:12px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px" colspan=2>
								<nobr>&nbsp;</nobr>
							</td>
							<td style=" text-align:right;font-size:15px;font-weight:bold;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px">
								<nobr>Amount</nobr>
							</td>
							<td style="min-width:50px">
								<nobr>&nbsp;</nobr>
							</td>
							<td style=" text-align:right;font-size:15px;font-weight:bold;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px">
								<nobr>Amount</nobr>
							</td>
							 
						</tr>
						<tr style="height:20px;">
							<td style=" font-size:14px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px" colspan=2>
								<nobr>Basic Salary</nobr>
							</td>
							<td style=" text-align:right;font-size:14px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px">
								<nobr><asp:Label ID="lblbasic" runat="server" Text="0"></asp:Label></nobr>
							</td>
							<td style=" font-size:14px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px">
								<nobr>E.Provident Fund</nobr>
							</td>
							<td style=" text-align:right;font-size:14px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px">
								<nobr><asp:Label ID="lblpf" runat="server" Text="0"></asp:Label></nobr>
							</td>
							 
						</tr>
						<tr style="height:20px;">
							<td style=" font-size:14px;border-left:1px solid;border-top:1px solid;border-bottom:1px solid;border-left-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px" colspan=2>
								<nobr>HRA</nobr>
							</td>
							<td style=" text-align:right;font-size:14px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px">
								<nobr><asp:Label ID="lblhr" runat="server" Text="0"></asp:Label></nobr>
							</td>
							<td style=" font-size:14px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px">
								<nobr>ESI/Medical Reimb</nobr>
							</td>
							<td style=" text-align:right;font-size:14px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px">
								<nobr><asp:Label ID="lblesi" runat="server" Text="0"></asp:Label></nobr>
							</td>
							 
						</tr>
						<tr style="height:20px;">
							<td style=" font-size:14px;border-left:1px solid;border-top:1px solid;border-bottom:1px solid;border-left-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px" colspan=2>
								<nobr>Conveyance</nobr>
							</td>
							<td style=" text-align:right;font-size:14px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px">
								<nobr><asp:Label ID="lblconveynce" runat="server" Text="0"></asp:Label></nobr>
							</td>
							<td style=" font-size:14px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px">
								<nobr>Professional Tax</nobr>
							</td>
							<td style=" text-align:right;font-size:14px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px">
								<nobr><asp:Label ID="lblptax" runat="server" Text="0"></asp:Label></nobr>
							</td>
							 
						</tr>
						<tr style="height:20px;">
							
                            <td style=" font-size:14px;border-left:1px solid;border-top:1px solid;border-bottom:1px solid;border-left-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px" colspan=2>
								<nobr>Mobile Expenses</nobr>
							</td>
							<td style=" text-align:right;font-size:14px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px">
								<nobr><asp:Label ID="lblmobile1" runat="server" Text="0"></asp:Label></nobr>
							</td>
							<td style=" font-size:14px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px">
								<nobr>I. Tax</nobr>
							</td>
							<td style=" text-align:right;font-size:14px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px">
								<nobr><asp:Label ID="lblitax" runat="server" Text="0"></asp:Label></nobr>
							</td>
							 
						</tr>
						<%--<tr style="height:20px;">--%>
							<%--<td style=" font-size:14px;border-left:1px solid;border-top:1px solid;border-bottom:1px solid;border-left-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px" colspan=2>
								<nobr>Children Education Allowance</nobr>
							</td>
							<td style=" text-align:right;font-size:14px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px">
								<nobr><asp:Label ID="lblchild" runat="server" Text="0"></asp:Label></nobr>
							</td>--%>
							<%--<td style=" font-size:14px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px">
								<nobr>Loan </nobr>
							</td>
							<td style=" text-align:right;font-size:14px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px">
								<nobr><asp:Label ID="lblloan" runat="server" Text="0"></asp:Label></nobr>
							</td>--%>
							 
						<%--</tr>--%>
						<tr style="height:20px;">
							<td style=" font-size:14px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px" colspan=2>
								<nobr>Special Allowance</nobr>
							</td>
							<td style=" text-align:right;font-size:14px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px">
								<nobr><asp:Label ID="lblspeacial" runat="server" Text="0"></asp:Label></nobr>
							</td>
							<td style=" font-size:14px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px">
								<nobr>Advance</nobr>
							</td>
							<td style=" text-align:right;font-size:14px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px">
								<nobr><asp:Label ID="lbladvance" runat="server" Text="0"></asp:Label></nobr>
							</td>
							 
						</tr>
						<tr style="height:20px;">
							<td style=" font-size:14px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px" colspan=2>
								<nobr>Travel Allowance</nobr>
							</td>
							<td style=" text-align:right;font-size:14px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px">
								<nobr><asp:Label ID="lbltravell" runat="server" Text="0"></asp:Label></nobr>
							</td>
							<td style=" font-size:14px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px">
								<nobr>Other Deductions</nobr>
							</td>
							<td style=" text-align:right;font-size:14px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px">
								<nobr><asp:Label ID="lblmisc" runat="server" ></asp:Label></nobr>
							</td>
							 
						</tr>
						<%--<tr style="height:20px;">
							<td style=" font-size:14px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px" colspan=2>
								
							</td>
							<td style=" text-align:right;font-size:14px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px">
								
							</td>
							<td style=" font-size:14px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px">
								<nobr>Lose Pay</nobr>
							</td>
							<td style=" text-align:right;font-size:14px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px">
								<nobr><asp:Label ID="Label3" runat="server" ></asp:Label></nobr>
							</td>
							 
						</tr>--%>
						<tr style="height:20px;">
							<td style=" font-size:14px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px" colspan=2>
								<nobr>Total Earnings</nobr>
							</td>
							<td style=" text-align:right;font-size:14px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px">
								<nobr><asp:Label ID="lbltotal" runat="server" Text="0"></asp:Label></nobr>
							</td>
							<td style=" font-size:14px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px">
								<nobr>Total Deductions</nobr>
							</td>
							<td style=" text-align:right;font-size:14px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px">
								<nobr><asp:Label ID="lbldedtot" runat="server" Text="0"></asp:Label></nobr>
							</td>
							 
						</tr>
						<tr style="height:33px;">
							<td style=" font-size:22px;font-weight:bold;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px">
								<nobr>Net Salary Rs.</nobr>
							</td>
							<td style=" text-align:right;font-size:22px;font-weight:bold;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px">
								<nobr><asp:Label ID="lblnet" runat="server" Text="0"></asp:Label></nobr>
							</td>
							<td style=" font-size:22px;font-weight:bold;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000;min-width:50px" colspan=3>
								<nobr><asp:Label ID="lblwords" runat="server" Text=""></asp:Label> </nobr>
							</td>
							 
						</tr>
						 
						 
						
					</tbody>
				</table>

                    </div>
                </div>
              
                <div class="row">
                    <div class="col-md-12 ">
                        <table class="table  borderless">
                            <tbody>
                                <tr>
                                    <h5 class="text-center">
                                        ** System generated print out. No signature required**</h5>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
     
    <asp:Label ID="Label1" runat="server" Text="Label" Visible="false"></asp:Label>
    </form>
</body>
</html>
